video{
  background: rgb(0, 0, 0);
}
.about-details{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 80%;
    margin:0 auto;
    padding-top: 1rem;
    padding-bottom: 1rem;
}