.contact{
    padding-top: 2rem;
    padding-bottom: 5rem;
}
.form{
    width: 60%;
    margin: 0 auto;
}
.address{
    margin: 0 auto;
    background: #fff;
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    border-radius: 5px;
    padding: 2rem 0;
}