.contact{
    padding-top: 2rem;
    padding-bottom: 5rem;
}
.form{
    margin: 0 auto;
    width: 80%;
}
.address{
    margin: 0 auto;
    background: #fff;
    margin-top: 2rem;
    border-radius: 5px;
    padding: 2rem 0;
}

@media screen and (max-width: 992px){
    .form{
        width: 90%;
    }
}